doctype html
html
  head
    title Thiel Foundation
    == Slim::Template.new('partials/header.slim').render()
  body
    .container-fluid
      .row
        .col-md-offset-1.col-md-11
          .row
            header
              h1.logo
                span.thiel Thiel 
                span Foundation
              p We support science, technology, and long-term thinking about the future.
          .row
            p Our programs:
            ul
              li 
                a href="http://www.thielfellowship.org/" The Thiel Fellowship 
                | — a two-year program for young people who drop out of school to build new things.
              li 
                a href="http://www.breakoutlabs.org/" Breakout Labs
                | — a new funding and support mechanism for radical science companies.
              li 
                a href="http://www.imitatio.org/" Imitatio 
                | — furthering research and application of mimetic theory across the social sciences.
            p We also back people working on hard problems that won't otherwise get solved. Apply for a grant here.
            p Please direct press inquiries to ross@torchcommunications.com.
            p 
              | You can read about our team 
              a href="team.html" here.
 