 body {
    background-color: #f7f7f7;
    font-family: 'Open Sans', sans-serif;
    font-size: 1.25em
}

header {
    padding-top: 40px;
    padding-bottom: 40px;
    .mission {
        font-weight: 400;
        font-size: 1.25em;
    }
    .logo {
        .thiel {
            font-size: 2.125em;
            font-weight: bold;
        }
        font-size: 1.5em;
        text-transform: uppercase;
        font-weight: 400;
        text-align: left;
        line-height: 32px;
        vertical-align: top;
    }
}

.center-block {
    float: none;
}

.biography {
    padding-top: 40px;
    .names {
        font-size: 24px;
        text-transform: uppercase;
        font-weight: 400;
        line-height: 32px;
        vertical-align: top;
        font-family: 'Lato', sans-serif;
    }
}

//  body {
//     background-color: #f7f7f7;
// }

// html, body {
//     max-width: 100%;
//     overflow-x: hidden;
// }


// .logo {
//     font-size: 20px;
//     text-transform: uppercase;
//     font-weight: 400;
//     text-align: left;
//     width: 100%;
//     line-height: 32px;
//     vertical-align: top;
//     font-family: 'Open Sans', sans-serif;
//     margin-left: 100px;
//     margin-top: 100px;
// }


// .thiel {
//     display: inline-block;
//     font-size: 34px;
//     font-family: 'Open Sans', sans-serif;
//     margin-top: -7px;
// }

// .thiel strong {
//     font-weight: bold;
// }


// .mission {

//     font-size: 16px;
//     font-weight: 400;
//     text-align: left;
//     width: 100%;
//     line-height: 32px;
//     color: black;
//     font-family: 'Open Sans', sans-serif;
//     margin-left: 100px;
//     margin-top: 10px;

// }


// .text {

//     font-size: 14px;
//     font-weight: 400;
//     text-align: left;
//     width: 100%;
//     line-height: 22px;
//     color: black;
//     font-family: 'Open Sans', sans-serif;
//     margin-left: 100px;
//     margin-top: 40px;
// }


// a:link, a:visited {
//     color: blue;
//     text-decoration: none;
// }

// a:hover {
//     text-decoration: underline;
// }

// .programs {
//     line-height: 180%;
// }

// .colleagues {
//     line-height: 200%;
// }


// .photo {
//     padding-top: 50px;
//     padding-left: 25%;
//     max-width: 70%;
// }


// .names {
//     padding-left: 25%;
//     font-size: 24px;
//     text-transform: uppercase;
//     font-weight: 400;
//     width: 100%;
//     line-height: 32px;
//     vertical-align: top;
//     font-family: 'Lato', sans-serif;
//     margin-top: 20px;
// }

// .namesTemp {
//     padding-left: 25%;
//     font-size: 24px;
//     text-transform: uppercase;
//     font-weight: 400;
//     width: 100%;
//     line-height: 32px;
//     vertical-align: top;
//     font-family: 'Lato', sans-serif;
//     margin-top: 200px;
// }



// .bio {
//     padding-left: 25%;
//     max-width: 70%;
// }

