doctype html
html
  head
    title Grace Eckert
    == Slim::Template.new('app/partials/meta.slim').render()
    == Slim::Template.new('app/partials/ga.slim').render()
  body
    .container-fluid
      .row.biography
        .col-md-7.center-block
          img.img-responsive src="images/grace.jpg"
          h1.names Grace Eckert
          p.bio Grace is the Thiel Foundation Administrator, responsible for the smooth operation of our internal programs and outside grant-making. She has a background human resources and studied journalism at University of Colorado Boulder. She can be reached at grace@thielfoundation.org.